// Root color for basic color setting
:root {
  --basic-color: #005aaa;
  --rgb-basic-color: 0 90 170;
  --text-in-basic-color: #fff;
  --bg-opacity-75: 0.75;
  --bg-opacity-50: 0.5;
  --bg-opacity-25: 0.25;
  --bg-opacity-4: 0.04;
}