@import '~/assets/styles/main/custom-variables';

.timeControl {
  position: relative;
  width: 100%;

  .input {
    &::placeholder {
      color: $color-text-2;
    }

    &:focus-visible {
      outline: 0;
      border-color: $color-input-active;
      box-shadow: none;
    }

    &.error {
      border: 1px solid $color-status-error;
    }
  }

  .invalid {
    input {
      border: 1px solid $color-status-error;
    }
  }

  .toggle {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 22px;
    user-select: none;
    z-index: $z-index-calendar;
  }
}