@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot?6ujpg5');
  src: url('iconfont.eot?6ujpg5#iefix') format('embedded-opentype'),
    url('iconfont.ttf?6ujpg5') format('truetype'),
    url('iconfont.woff?6ujpg5') format('woff'),
    url('iconfont.woff2') format('woff2'),
    url('iconfont.otf') format('otf'),
    url('iconfont.svg?6ujpg5#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconimgs-"],
[class*=" iconimgs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconimgs-bell:before {
  content: "\e901";
}

.iconimgs-calendar:before {
  content: "\e902";
}

.iconimgs-cart-bold:before {
  content: "\e903";
}

.iconimgs-cart:before {
  content: "\e904";
}

.iconimgs-check-rounder:before {
  content: "\e905";
}

.iconimgs-chevron-down-bold:before {
  content: "\e906";
}

.iconimgs-chevron-down:before {
  content: "\e907";
}

.iconimgs-chevron-left:before {
  content: "\e908";
}

.iconimgs-chevron-right:before {
  content: "\e909";
}

.iconimgs-chevron-up-bold:before {
  content: "\e90a";
}

.iconimgs-chevron-up:before {
  content: "\e90b";
}

.iconimgs-copy:before {
  content: "\e90c";
}

.iconimgs-crop:before {
  content: "\e90d";
}

.iconimgs-dots-ver:before {
  content: "\e90e";
}

.iconimgs-download:before {
  content: "\e90f";
}

.iconimgs-drag:before {
  content: "\e910";
}

.iconimgs-edit:before {
  content: "\e911";
}

.iconimgs-file:before {
  content: "\e912";
}

.iconimgs-folder-bold:before {
  content: "\e913";
}

.iconimgs-folder:before {
  content: "\e914";
}

.iconimgs-gallery:before {
  content: "\e915";
}

.iconimgs-help:before {
  content: "\e916";
}

.iconimgs-key:before {
  content: "\e917";
}

.iconimgs-list:before {
  content: "\e918";
}

.iconimgs-logout:before {
  content: "\e919";
}

.iconimgs-management:before {
  content: "\e91a";
}

.iconimgs-plus:before {
  content: "\e91b";
}

.iconimgs-return:before {
  content: "\e91c";
}

.iconimgs-search:before {
  content: "\e91d";
}

.iconimgs-setting:before {
  content: "\e91e";
}

.iconimgs-trash-bold:before {
  content: "\e91f";
}

.iconimgs-trash:before {
  content: "\e920";
}

.iconimgs-upload:before {
  content: "\e921";
}

.iconimgs-user-bold:before {
  content: "\e922";
}

.iconimgs-user-circle:before {
  content: "\e923";
}

.iconimgs-users-bold:before {
  content: "\e924";
}

.iconimgs-world:before {
  content: "\e925";
}

.iconimgs-x:before {
  content: "\e926";
}