@import '~/assets/styles/main/custom-variables';

.selectCustomControl {
  white-space: nowrap;

  .selectDropdown {
    color: $color-text-2;

    &.isFocused {
      color: $color-text-1;
    }
  }
}